rules_version = '2'; service cloud.firestore { match /databases/{database}/documents { match /users/{uid} { allow read: if request.auth != null && request.auth.uid == uid; allow create: if request.auth != null && request.auth.uid == uid && request.resource.data.role == null; allow update: if request.auth != null && request.auth.uid == uid && request.resource.data.uid == resource.data.uid && request.resource.data.createdAt == resource.data.createdAt && (request.resource.data.role == null || request.resource.data.role in ['student','volunteer','doctor']); } } }

